$brand-color: #dd0330;
body {
	background-image: url(../img/incs-landing.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.section {
	clear: both;
}

.text-center {text-align: center;}

.headline {
	margin: -30px 1em 0;
	img {
		width: 100%;
	}
	.hide-xs {
		display: none;
	}
	.show-xs {
		display: block;
	}
}

.timer {
	position: relative;
	height: 340px;
	.timer-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.number {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 115px;
		color: $brand-color;
		font-family: sans-serif;
		line-height: 280px;
	}
	.img {
		height: 340px;
	}
	.text {
		font-family: sans-serif;
		font-size: 28px;
		position: absolute;
		text-align: center;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.brand {
	margin: 3em 0 0;
	img {
	}
}

.signoff {
	margin: 3em 0;
	p {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-style: italic;
		font-size: 18px;
		color: #333;
	}
	.social-buttons {
		padding-left: 0;
		margin-left: -5px;
		list-style: none;
		li {
			display: inline-block;
			padding-right: 5px;
			padding-left: 5px;
			a {
				display: block;
				width: 32px;
				height: 33px;
				background-image: url(../img/social-button-twitter.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				border-radius: 5px;
				&:hover {
					background-color: rgba($brand-color, 0.6);
				}
			}
				&.twitter a {background-image: url(../img/social-button-twitter.png)}
				&.facebook a {background-image: url(../img/social-button-facebook.png)}
				&.instagram a {background-image: url(../img/social-button-instagram.png)}
				&.google-plus a {background-image: url(../img/social-button-google-plus.png)}
		}
	}
}

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

@media (min-width: $screen-sm-min) {
  .headline{
    .hide-xs {
      display: block;
    }
    .show-xs {
      display: none;
    }
  }
}
@media (min-width: $screen-md-min) {
  .headline {
    img {
      width: 50%;
      margin: auto;
    }
  }
  .timer {zoom: .75}
  .brand {
    margin: 2em 0 0;
    zoom: .75;
  }
  .signoff {
    margin: 1.5em 0;
  }
}
@media (min-width: $screen-lg-min) {
  .headline {
    img {
      width: 70%;
      margin: auto;
    }
  }
  .timer, .brand {zoom: 1}
}